<nav class="bg-gray-800 text-white px-4 py-3 flex justify-between">
  <div class="text-lg font-bold">
    <a href="/">WEB322 Projects</a>
  </div>
  <ul class="flex space-x-4">
    <li><a class="<%= (page == '/solutions/projects') ? 'font-bold underline' : '' %>" href="/solutions/projects">Projects</a></li>
    <li><a class="<%= (page == '/solutions/addProject') ? 'font-bold underline' : '' %>" href="/solutions/addProject">Add Project</a></li>
  </ul>
</nav>
